<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true"  scanPeriod="3 seconds">

  <conversionRule conversionWord="customLogger" converterClass="com.tibco.bw.extensions.logback.BWCustomConverter"/>  
  <!-- *=============================================================* -->
  <!-- *  APPENDER: Console Appender                                 * -->
  <!-- *=============================================================* -->  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
		<pattern>%d{"yyyy-MM-dd'T'HH:mm:ss,SSS"} %-5level [%thread] %customLogger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  
  <!-- *=============================================================* -->
  <!-- *  APPENDER: Application File Appender                        * -->
  <!-- *=============================================================* -->  
  <appender name="APPLICATION-FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
	<filter class="com.tibco.bw.extensions.logback.BWAppFileAppenderFilter"/>
	<discriminator class="com.tibco.bw.extensions.logback.BWLoggerNameDiscriminator"/>
	<sift>
		<appender name="FILE-${fileName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>../../../bw/6.5/logs/${fileName}.log</file>
			
			<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
				<fileNamePattern>../../../bw/6.5/logs/${fileName}%i.log</fileNamePattern>
				<minIndex>1</minIndex>
				<maxIndex>10</maxIndex>
			</rollingPolicy>
        
			<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
				<maxFileSize>10MB</maxFileSize>
			</triggeringPolicy>
			
			<encoder>
				<pattern>%d{"yyyy-MM-dd'T'HH:mm:ss,SSS"} %-5level [%thread] %customLogger{36} - %msg%n</pattern>
			</encoder>
		</appender>
	</sift>
  </appender>
  
  
  <!-- *=============================================================* -->
  <!-- * LOGGER: BusinessWorks Application logger                    * -->
  <!-- *=============================================================* -->
  <!-- Do not modify this logger-->
  <logger name="BWApp">
       <level value="ERROR"/>
  </logger>

  
  <!-- *=============================================================* -->
  <!-- * LOGGER: Thor Framework loggers                              * -->
  <!-- *=============================================================* -->
  <logger name="com.tibco.thor.frwk">
    <level value="INFO"/>
  </logger>
  
  
  
  <!-- *=============================================================* -->
  <!-- * LOGGER: BusinessWorks Framework loggers                     * -->
  <!-- *=============================================================* -->
  <logger name="com.tibco.bw.frwk">
    <level value="WARN"/>
  </logger>  
  
  <logger name="com.tibco.bw.frwk.engine">
    <level value="INFO"/>
  </logger>   
  
  
  <!-- *=============================================================* -->
  <!-- * LOGGER: BusinessWorks Engine loggers                        * -->
  <!-- *=============================================================* --> 
  <logger name="com.tibco.bw.core">
    <level value="WARN"/>
  </logger>
  
  <logger name="com.tibco.bx">
    <level value="ERROR"/>
  </logger>

  <logger name="com.tibco.pvm">
    <level value="ERROR"/>
  </logger>
  
  <logger name="configuration.management.logger">
    <level value="INFO"/>
  </logger>
  
  
  
  <!-- *=============================================================* -->
  <!-- * LOGGER: BusinessWorks Palette and Activity loggers          * -->
  <!-- *=============================================================* -->
  
  <logger name="com.tibco.bw.test.log.some" additivity="false">
    <level value="INFO"/>
  </logger>
  <!-- Default Log activity logger -->
  <logger name="com.tibco.bw.palette.generalactivities.Log">
    <level value="WARN"/>
	<appender-ref ref="APPLICATION-FILE"/>
  </logger>
  
  <logger name="com.tibco.bw.palette">
    <level value="ERROR"/>
  </logger>

  
  
  <!-- *=============================================================* -->
  <!-- * LOGGER: BusinessWorks Binding loggers                       * -->
  <!-- *=============================================================* -->
  
  <!-- SOAP Binding logger -->
  <logger name="com.tibco.bw.binding.soap">
    <level value="ERROR"/>
  </logger>
  
  <!-- REST Binding logger -->
  <logger name="com.tibco.bw.binding.rest">
    <level value="ERROR"/>
  </logger>
  
  
  
  <!-- *=============================================================* -->
  <!-- * LOGGER: BusinessWorks Shared Resource loggers               * -->
  <!-- *=============================================================* --> 
  <logger name="com.tibco.bw.sharedresource">
    <level value="ERROR"/>
  </logger>
  
  
   
  <!-- *=============================================================* -->
  <!-- * LOGGER: BusinessWorks Schema Cache loggers                  * -->
  <!-- *=============================================================* -->
  <logger name="com.tibco.bw.cache.runtime.xsd">
    <level value="ERROR"/>
  </logger> 
  
  <logger name="com.tibco.bw.cache.runtime.wsdl">
    <level value="ERROR"/>
  </logger> 
  
    
  
  <!-- *=============================================================* -->
  <!-- * LOGGER: BusinessWorks Governance loggers                    * -->
  <!-- *=============================================================* -->  
  <!-- Governance: Policy Director logger1 --> 
  <logger name="com.tibco.governance">
    <level value="ERROR"/>
  </logger>
   
  <!-- Governance: Policy Director logger2 -->
  <logger name="com.tibco.governance.pa.action.runtime.PolicyProperties">
    <level value="ERROR"/>
  </logger>
  
  <!-- Governance: SPM logger1 -->
  <logger name="com.tibco.governance.spm">
    <level value="ERROR"/>
  </logger>
  
  <!-- Governance: SPM logger2 -->
  <logger name="rta.client">
    <level value="ERROR"/>
  </logger>
  
  
    
  <!-- *=============================================================* -->
  <!-- * LOGGER: BusinessWorks Miscellaneous Loggers                 * -->
  <!-- *=============================================================* --> 
  <logger name="com.tibco.bw.platformservices">
    <level value="ERROR"/>
  </logger>
  
  <logger name="com.tibco.bw.core.runtime.statistics">
    <level value="ERROR"/>
  </logger>
  

  
  <!-- *=============================================================* -->
  <!-- * LOGGER: Other loggers                                       * -->
  <!-- *=============================================================* -->  
  <logger name="org.apache.axis2">
    <level value="ERROR"/>
  </logger>

  <logger name="org.eclipse">
    <level value="ERROR"/>
  </logger>
  
  <logger name="org.quartz">
    <level value="ERROR"/>
  </logger>
  
  <logger name="org.apache.commons.httpclient.util.IdleConnectionHandler">
    <level value="ERROR"/>
  </logger>
  
  
  
  <!-- *=============================================================* -->
  <!-- * LOGGER: User loggers.  User's custom loggers should be      * -->
  <!-- *         configured in this section.                         * -->
  <!-- *=============================================================* -->

     


  
  
  <!-- *=============================================================* -->
  <!-- * ROOT                                                        * -->
  <!-- *=============================================================* --> 
  <root level="ERROR">
     <appender-ref ref="STDOUT" />
  </root>
  
</configuration>
